   <header>
        <nav class="navbar">
            <div class="logo">
                <img src="https://cdn.sanity.io/images/ocl5w36p/prod4/5bc445d632d83571807495a20965af52dc068075-100x88.png" alt="Taj Logo">
            </div>
            <div class="search-bar">
                <select aria-label="Hotel Selection">
                    <option selected>Taj Cidade de Goa Heritage</option>
                </select>

                <input type="text" id="date-range" placeholder="Check-in — Check-out" aria-label="Date Range">

                <select aria-label="Number of Guests">
                    <option>1 Guests</option>
                    <option>2 Guests</option>
                    <option>3 Guests</option>
                    <option>4 Guests</option>
                </select>

                <select aria-label="Number of Rooms">
                    <option selected>1 Room</option>
                    <option>2 Room</option>
                    <option>3 Room</option>
                    <option>4 Room</option>
                </select>

                <input type="text" placeholder="Special Code" aria-label="Special Code">

                <button class="search-btn">SEARCH</button>
            </div>

            <div class="login-join">LOGIN / JOIN</div>
        </nav>
    </header>
